{{ define "title" }}Dashboard{{ end }}
{{ define  "content" }}
    <div class="app-body">
        {{ template "menu-left" . }}
        <main class="main">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
            <div class="breadcrumb-spacer"></div>
            <div class="container-fluid">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <strong>Welcome</strong>
                                </div>
                                <div class="card-body">
                                    <div class="jumbotron jumbotron ">
                                        <div class="container">
                                            <h1 class="display-3">VIV Health</h1>
                                            <p class="lead">Admin panel help</p>
                                            <hr>
                                            <p>
                                            <ol>
                                                <li>...</li>
                                                <li>???</li>
                                                <li>!!!</li>
                                            </ol>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.col-->
                    </div>
                    <!-- /.row-->
                </div>
            </div>
        </main>
    </div>
{{ end }}