{{ define "menu-left" }}
<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="nav-icon icon-speedometer"></i> Dashboard
                    <span class="badge badge-primary">HOME</span>
                </a>
            </li>
            <li class="nav-title">Content</li>
            <li class="nav-item">
                <a class="nav-link" href="/programs.html">
                    <i class="nav-icon icon-doc"></i> Programs</a>
            </li>

        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
{{ end }}