{{ define "title" }}Programs{{ end }}
{{ define  "content" }}
    <div class="app-body">
        {{ template "menu-left" . }}
        <main class="main">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Dashboard</li>
                <li class="breadcrumb-item active">Programs</li>
            </ol>
            <div class="breadcrumb-spacer"></div>
            <div class="container-fluid">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <strong>Programs List</strong>
                                </div>
                                <div class="card-body">
                                    <table data-page-length="25" class="table table-striped dt-hook"
                                           id="programs">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Title</th>
                                            <th>Category</th>
                                            <th>Type</th>
                                            <th>Weight</th>
                                            <th data-orderable="false">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /.col-->
                    </div>
                    <!-- /.row-->
                </div>
            </div>
        </main>
    </div>
{{ end }}