{{ define "title" }}Edit program{{ end }}{{ define  "content" }}
    <div class="app-body">{{ template "menu-left" . }}
        <main class="main position-relative">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Dashboard</li>
                <li class="breadcrumb-item">Programs</li>
                <li class="breadcrumb-item active">Edit program</li>
                <button class="btn btn-light btn-sm save-program disabled">Save program</button>
            </ol>
            <div class="breadcrumb-spacer"></div>
            <div class="container-fluid">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header"><strong>Program form</strong></div>
                                <div class="card-body">
                                    <form id="program_form">
                                        <fieldset class="custom-fieldset">
                                            <legend class="w-auto">Basic properties</legend>

                                            <div class="form-group row">
                                                <label for="program_key" class="col-2">File path</label>
                                                <div class="input-group input-group-sm col-10">
                                                    <div class="input-group-prepend input-group-sm"><span
                                                                class="input-group-text" id="program_key_prepend">programs/</span>
                                                    </div>
                                                    <input
                                                            type="text"
                                                            aria-describedby="program_key_prepend"
                                                            class="form-control form-control-sm"
                                                            name="program_key"
                                                            placeholder="title_000"
                                                    >
                                                    <div class="input-group-append"><span class="input-group-text"
                                                                                          id="program_key_append">_program.json</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="program_id" class="col-2 col-form-label">Program ID </label>
                                                <div class="input-group col-10">
                                                    <div class="input-group-prepend">
                                                        <button class="generate-uuid btn btn-light"></button>
                                                    </div>
                                                    <input
                                                            type="text"
                                                            class="form-control"
                                                            name="program_id"
                                                            placeholder="xxxxxxxx-yyyy-zzzz-aaaa-bbbbbbbbbbbb"
                                                            required
                                                            pattern="[a-z0-9]{8}-([a-z0-9]{4}-){3}[a-z0-9]{12}">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="category.type" class="col-2 col-form-label">Category</label>
                                                <span class="input-group col-10">
                                                    <select class="custom-select w-auto" name="category.type">
                                                    </select>
                                                </span>
                                            </div>


                                            <div class="form-group row">
                                                <label for="section_title" class="col-2 col-form-label">Section title
                                                    (intro)</label>
                                                <div class="input-group col-10">
                                                    <input type="text" class="form-control" name="section_title">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="promotion.title" class="col-2 col-form-label">Promotion
                                                    title</label>
                                                <div class="input-group col-10">
                                                    <input type="text" class="form-control" name="promotion.title">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="weight" class="col-2 col-form-label">Weight</label>
                                                <div class="input-group col-10"><input type="number" min="0" max="10000"
                                                                                       step="10" class="form-control"
                                                                                       name="weight" required>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="tags" class="col-2 col-form-label">Tags</label>
                                                <div class="input-group col-10">
                                                    <div class="form-control tags" id="tags"></div>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="free"
                                                       class="col-2 col-form-label form-check-label">Free</label>

                                                <div class="input-group col-10">
                                                    <input type="checkbox" class="form-check-input" name="free"></div>
                                            </div>

                                        </fieldset>

                                        <fieldset class="custom-fieldset">
                                            <legend>Presentation</legend>

                                            <div class="form-group row">
                                                <label for="presentation.title"
                                                       class="col-2 col-form-label">Title</label>
                                                <div class="input-group col-10">
                                                    <input type="text" class="form-control" name="presentation.title"
                                                           required>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="presentation.text" class="col-2 col-form-label">Text</label>
                                                <div class="input-group col-10"><textarea rows="3" class="form-control"
                                                                                          name="presentation.text"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-2 col-form-label">Thumbnails</label>
                                                <label for="presentation.thumbnail"
                                                       class="col-1 col-form-label">Big</label>
                                                <div class="input-group col-4">
                                                    <input type="text" class="col-8 form-control"
                                                           name="presentation.thumbnail">
                                                    <input type="file" class="col-4 form-control-file"
                                                           name="presentation.thumbnail_file">
                                                </div>
                                                <label for="presentation.small_thumbnail" class="col-1 col-form-label">Small</label>
                                                <div class="input-group col-4">
                                                    <input type="text" class="col-8 form-control"
                                                           name="presentation.small_thumbnail">
                                                    <input type="file" class="col-4 form-control-file"
                                                           name="presentation.small_thumbnail_file">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="presentation.background_color" class="col-2 col-form-label">Background
                                                    color</label>
                                                <div class="input-group col-5">
                                                    <input type="text" class="form-control"
                                                           name="presentation.background_color_plain">
                                                </div>
                                                <div class="input-group col-5">
                                                    <span>
                                                        <input
                                                                type="color"
                                                                data-for="presentation.background_color_plain"
                                                                class="form-control"
                                                                name="presentation.background_color">
                                                    </span>
                                                </div>
                                            </div>

                                        </fieldset>

                                        <fieldset class="custom-fieldset">
                                            <legend>Content</legend>

                                            <div class="form-group row">
                                                <label for="content.title" class="col-2 col-form-label">Title</label>
                                                <div class="input-group col-10">
                                                    <input type="text" class="form-control" name="content.title"
                                                           required>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="content.text" class="col-2 col-form-label">Text</label>
                                                <div class="input-group col-10"><textarea rows="3" class="form-control"
                                                                                          name="content.text"></textarea>
                                                </div>
                                            </div>


                                            <fieldset class="custom-fieldset">
                                                <legend>Media items</legend>

                                                <div class="mediaItemsNode">

                                                    <div class="form-group row tpl-tail">
                                                        <div class="col-2">
                                                            <label class="col-form-label">Add new media item</label>
                                                        </div>
                                                        <div class="col-10">
                                                            <button class="btn btn-primary"><span
                                                                        class="icon-plus"></span></button>
                                                        </div>
                                                    </div>

                                                </div>

                                            </fieldset>

                                            <fieldset class="custom-fieldset">
                                                <legend>Steps</legend>

                                                <div class="stepsNode">

                                                    <div class="form-group row tpl-tail">
                                                        <div class="col-2">
                                                            <label class="col-form-label">Add new step</label>
                                                        </div>
                                                        <div class="col-10">
                                                            <button class="btn btn-primary"><span
                                                                        class="icon-plus"></span></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>

                                            <fieldset class="custom-fieldset">
                                                <legend>User attributes</legend>

                                                <div class="userAttributesNode">

                                                    <div class="form-group row tpl-tail">
                                                        <div class="col-2">
                                                            <label class="col-form-label">Add new user attribute</label>
                                                        </div>
                                                        <div class="col-10">
                                                            <button class="btn btn-primary"><span
                                                                        class="icon-plus"></span></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </fieldset>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    {{/* templates */}}

    <fieldset class="custom-fieldset tpl steps">
        <legend>Step #%NITER%</legend>

        <div class="form-group row">
            <label for="steps[%N%].program_step_id" class="col-2 col-form-label">Step ID</label>
            <div class="input-group col-10">
                <div class="input-group-prepend">
                    <button class="generate-uuid btn btn-light"></button>
                </div>
                <input
                        type="text"
                        class="form-control"
                        name="steps[%N%].program_step_id"
                        placeholder="xxxxxxxx-yyyy-zzzz-aaaa-bbbbbbbbbbbb"
                        required
                        pattern="[a-z0-9]{8}-([a-z0-9]{4}-){3}[a-z0-9]{12}">
            </div>
        </div>

        <div class="form-group row">
            <label for="steps[%N%].title" class="col-2 col-form-label">Title</label>
            <div class="input-group col-10">
                <input type="text" class="form-control" name="steps[%N%].title" required>
            </div>
        </div>

        <div class="form-group row">
            <label for="steps[%N%].estimated_duration" class="col-2 col-form-label">Estimated duration</label>
            <div class="input-group col-10">
                <input type="number" class="form-control" name="steps[%N%].estimated_duration" required pattern="\d+">
            </div>
        </div>

        <div class="form-group row">
            <label for="steps[%N%].article_id" class="col-2 col-form-label">Article ID</label>
            <div class="input-group col-4">
                <div class="input-group-prepend">
                    <button class="generate-uuid btn btn-light"></button>
                </div>
                <input
                        type="text"
                        class="form-control"
                        name="steps[%N%].article_id"
                        placeholder="xxxxxxxx-yyyy-zzzz-aaaa-bbbbbbbbbbbb"
                        required
                        pattern="[a-z0-9]{8}-([a-z0-9]{4}-){3}[a-z0-9]{12}">
            </div>
        </div>

        <div class="form-group row">
            <label for="steps[%N%].quiz_id" class="col-2 col-form-label">Quiz ID</label>
            <div class="input-group col-4">
                <div class="input-group-prepend">
                    <button class="generate-uuid btn btn-light"></button>
                </div>
                <input
                        type="text"
                        class="form-control"
                        name="steps[%N%].quiz_id"
                        placeholder="xxxxxxxx-yyyy-zzzz-aaaa-bbbbbbbbbbbb"
                        required
                        pattern="[a-z0-9]{8}-([a-z0-9]{4}-){3}[a-z0-9]{12}">
            </div>

            <label for="steps[%N%].quiz_goal_id" class="col-2 col-form-label">Quiz Goal ID</label>
            <div class="input-group col-4">
                <div class="input-group-prepend">
                    <button class="generate-uuid btn btn-light"></button>
                </div>
                <input
                        type="text"
                        class="form-control"
                        name="steps[%N%].quiz_goal_id"
                        placeholder="xxxxxxxx-yyyy-zzzz-aaaa-bbbbbbbbbbbb"
                        required
                        pattern="[a-z0-9]{8}-([a-z0-9]{4}-){3}[a-z0-9]{12}">
            </div>

        </div>

        <div class="form-group row">
            <div class="col-2">
                <label class="col-form-label">Remove step</label>
            </div>
            <div class="col-10">
                <button class="btn btn-danger confirm remove"><span class="icon-trash"></span></button>
            </div>
        </div>

        <div class="relatedProgramsNode">
            <div class="form-group row tpl-tail">
                <div class="col-2">
                    <label class="col-form-label">Add new relation</label>
                </div>
                <div class="col-10">
                    <button class="btn btn-primary"><span class="icon-plus"></span></button>
                </div>
            </div>
        </div>

    </fieldset>

    <fieldset class="custom-fieldset tpl relatedProgram">
        <div class="form-group row ">
            <label for="steps[%N%].related_programs[%NN%].program_id" class="col-2 col-form-label">Program ID</label>
            <div class="input-group col-4">
                <div class="input-group-prepend">
                    <button class="generate-uuid btn btn-light"></button>
                </div>
                <input
                        type="text"
                        class="form-control"
                        name="steps[%N%].related_programs[%NN%].program_id"
                        placeholder="xxxxxxxx-yyyy-zzzz-aaaa-bbbbbbbbbbbb"
                        required
                        pattern="[a-z0-9]{8}-([a-z0-9]{4}-){3}[a-z0-9]{12}">
            </div>

            <label for="steps[%N%].related_programs[%NN%].title" class="col-2 col-form-label">Title</label>
            <div class="input-group col-4"><input type="text" class="form-control"
                                                  name="steps[%N%].related_programs[%NN%].title">
            </div>
        </div>

        <div class="form-group row">
            <label for="steps[%N%].related_programs[%NN%].text" class="col-2 col-form-label">Text</label>
            <div class="input-group col-10"><textarea
                        rows="3" class="form-control" name="steps[%N%].related_programs[%NN%].text"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label class="col-form-label">Remove relation</label>
            </div>
            <div class="col-10">
                <button class="btn btn-danger confirm remove"><span class="icon-trash"></span></button>
            </div>
        </div>

    </fieldset>

    <fieldset class="custom-fieldset tpl mediaItem">
        <legend>Media item #%NITER%</legend>
        <div class="form-group row">
            <label for="content.media_items[%N%].type" class="col-2 col-form-label">Type</label>
            <span class="input-group col-10">
                <select class="custom-select d-inline-flex w-auto" name="content.media_items[%N%].type">
                    <option value="image">Image</option>
                </select>
            </span>
        </div>

        <div class="form-group row">
            <label for="content.media_items[%N%].url" class="col-2 col-form-label">URL</label>
            <div class="input-group col-10">
                <input type="text" class="form-control" name="content.media_items[%N%].url" required>
            </div>
        </div>

        <div class="form-group row">
            <label for="content.media_items[%N%].background_color" class="col-2 col-form-label">Background color</label>
            <div class="input-group col-5"><input
                        type="text" class="form-control" name="content.media_items[%N%].background_color_plain">
            </div>
            <div class="input-group col-5">
                <span>
                    <input type="color" data-for="content.media_items[%N%].background_color_plain" class="form-control"
                           name="content.media_items[%N%].background_color" required>
                </span>
            </div>

        </div>
    </fieldset>

    <div class="form-group row tpl userAttribute">
        <label for="user_attribute_name" class="col-1 col-form-label">Name</label>
        <div class="input-group col-5">
            <input type="text" class="form-control" name="user_attribute_name">
        </div>

        <label for="user_attribute_value" class="col-1 col-form-label">Value</label>
        <div class="input-group col-5">
            <input type="text" class="form-control" name="user_attribute_value">
        </div>
    </div>

    <div class="modal fade modal-program-diff" tabindex="-1" role="dialog">
        <div class="modal-dialog wide" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Differences summary</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="initContainer">
                        <pre id="errorLeft" class="error"></pre>
                        <pre id="errorRight" class="error"></pre>
                    </div>


                    <div class="diffcontainer">
                        <div id="report">
                        </div>
                        <table class="w-100">
                            <tr>
                                <td class="w-50 font-weight-bold">Original</td>
                                <td class="font-weight-bold">Edited</td>
                            </tr>
                        </table>
                        <pre id="out" class="left codeBlock"></pre>
                        <pre id="out2" class="right codeBlock"></pre>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Go back</button>
                    <button type="button" class="btn btn-primary save-approved">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{{ end }}