@import 'base/vars';
@import 'base/reset';
@import 'base/print';
@import 'base/mixins';
@import 'dirty/hacks';

input[type="checkbox"].form-check-input {
  margin-top: 0.65rem;
  margin-left: 0;
}

@-webkit-keyframes rotating /* Safari and Chrome */
{
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotating2s {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.boverlay {
  background-color: rgba(220, 220, 220, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
  display: none;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);

  .sun {
    width: 100px;
    height: 100px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
  }
}

.custom-fieldset {
  legend {
    width: auto;
    padding: 0 12px;
    margin: 0 0 0 0;
  }

  border: 1px solid #ccc;
  padding: 20px 20px 10px 20px;
  margin: 10px 0;
  box-sizing: border-box;
  border-radius: 2px;
}

.form-control.tags {
  height: auto;
}

.taggle_list {
  float: left;
  width: 100%;
}

.taggle_input {
  border: none;
  outline: none;
}

.taggle_list li {
  float: left;
  display: inline-block;
  white-space: nowrap;
  font-weight: 500;
  margin-bottom: 5px;
}

.taggle_list .taggle {
  margin-right: 8px;
  background: #E2E1DF;
  padding: 5px 10px;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  transition: all .3s;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.taggle_list .taggle_hot {
  background: #cac8c4;
}

.taggle_list .taggle .close {
  position: absolute;
  top: 5px;
  right: 3px;
  text-decoration: none;
  padding-left: 2px;
  padding-top: 3px;
  line-height: 0.5;
  color: #ccc;
  color: rgba(0, 0, 0, 0.2);
  padding-bottom: 4px;
  display: none;
  border: 0;
  background: none;
  cursor: pointer;
}

.taggle_list .taggle:hover {
  padding: 5px;
  padding-right: 15px;
  background: #ccc;
  transition: all .3s;
}

.taggle_list .taggle:hover > .close {
  display: block;
}

.taggle_list .taggle .close:hover {
}

.taggle_placeholder {
  position: absolute;
  color: #CCC;
  top: 12px;
  left: 8px;
  transition: opacity, .25s;
  user-select: none;
}

.taggle_input {
  padding: 8px;
  padding-left: 0;
  float: left;
  margin-top: -5px;
  background: none;
  width: 100%;
  max-width: 100%;
}

.taggle_sizer {
  padding: 0;
  margin: 0;
  position: absolute;
  top: -500px;
  z-index: -1;
  visibility: hidden;
}

/*container styles*/
textarea.input,
.textarea.input {
  border: 0;
  background: #FDFDFD;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(255, 255, 255, 0.7);
  min-height: 60px;
  padding: 8px;
  border-radius: 3px;
  color: #555;
  transition: all .25s;
  cursor: text;
  margin-bottom: 10px;
  position: relative;
}

.textarea.input:focus,
.textarea.input.active,
textarea.input:focus,
textarea.input.active {
  background: #fff;
  transition: all .25s;
}

.textarea.input,
textarea.input {
  height: auto;
}


.textarea.tags {
  position: relative;
}

.textarea.tags * {
  box-sizing: content-box;
}


.placeholder_input {
  position: relative;
}

.placeholder_input span {
  position: absolute;
  color: #AAA;
  top: 50%;
  margin-top: -11px;
  left: 10px;
}

.placeholder_input input {
  width: 120px;
}

body .tpl {
  display: none;
}

.app-body .main {
  box-sizing: border-box;
}

.generate-uuid::before {
  content: 'UUID';
}

.app-body .main .breadcrumb {
  position: fixed;
  z-index: 995;
  display: flex;
  left: 200px;
  right: 0;
  transition: left .25s,flex .25s;

  button.btn {
    right:12px;
    position: absolute;
    z-index: 995;
  }
}
.sidebar-minimized .app-body .main .breadcrumb {
  left: 50px;
}

.app-body .main .breadcrumb-spacer {
  height: 70px;
}

.modal-dialog.wide {
  max-width: 90%;
}

