<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>VIV Admin {{ block "title" .}}{{ end }}</title>
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
<div class="boverlay">
    <img src="img/brand/sun.png" class="rotating2s sun"></div>
</div>
{{ template "header" . }}
{{ template "content" . }}
{{ template "footer" . }}
</body>
</html>
{{ define "content" }}
    Hello World!
{{ end }}