/**
 * Fonts
*/
@font-face {
  font-family: 'DINP-R';
  src: url("../fonts/DINPro-Regular.eot?") format("eot"),
  url("../fonts/DINPro-Regular.woff") format("woff"),
  url("../fonts/DINPro-Regular.ttf") format("truetype"),
  url("../fonts/DINPro-Regular.svg#DINPro-Regular") format("svg");
  font-style: normal;
}
